@model LibraryProject.Models.CheckOut

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CheckOut</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label">Book Id</label>
                <input asp-for="BookId" class="form-control" value="@ViewData["BookId"]" readonly />
            </div>
            <div class="form-group">
                <label class="control-label"> Book Name </label>
                <input  class="form-control" value="@ViewData["BookName"]" readonly />
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LibrarianId" class="control-label"></label>
                <input asp-for="LibrarianId" class="form-control" value="@ViewData["LibrarianId"]" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
